@import url('https://fonts.googleapis.com/css?family=Quicksand');
header{
    height:110px;
    font-family: 'Quicksand', sans-serif;
   width:100vw;
}
html{
    overflow-x:hidden;
}
body #top-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
     width:100%;
     margin:0px 0px; 
    height:100%;
    font-weight: bold;
}
body #top-bar{
    height:120px;
    padding-top:0px;
}
body #top-bar-center{
    margin-right:10vw;
    padding-left:3vw;
}
body #top-bar > *{
    flex:1;
}
body #sidebar{
    display:none;
}

body #content_box{
    width:100%;
}
.headerMenu > ul{
    margin:0;
    padding:0;
    width:150%;
}

#top-wrapper li{
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
}

.headerMenu > ul{
    display: none;
}
body #top-bar-left{
    display:none;
}
body #top-bar-center{
    margin-left:0;
}
/* #top-wrapper div{
    width:14.2vw;
} */
#top-wrapper .headerMenu {
    text-align: left;
    float:left;
    padding-left:30px;
    position: relative;
    text-transform: uppercase;
      width:220px;  
}

.headerMenu > ul::after{
    content: "";
    display: block;
    clear: both;
}

#top-wrapper li:hover ul{
    display: inline-block;
    position:absolute;
    top:100%;
    left:0px;
    padding:0px;
    z-index:9;
}
.headerMenu li{
    border-bottom: 1px solid #CCC;
    text-align: left;
    width:100%;
    height:35px;
    vertical-align: middle;
    padding-top:15px;
}

.headerMenu li a{
    padding:15px 30px;
    font-size:13px;
    color:#222538;
    width:100%;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
}

.headerMenu:hover{
    border-top:5px solid darkorange;
    background-color:  rgba(233, 126, 20, 0.95);
     padding:49px 0px 49px 0px; 
     color:white;
     vertical-align: middle;
     align-self: center;
}

.headerMenu > ul{
    background-color:  rgba(233, 126, 20, 0.95);
}
.headerMenu > ul > li > a{
    color: white;
}

.headerMenu > ul >li:hover{
    background-color:  rgba(255, 255, 255, 0.87);
    /* background-color: white; */
    
}
.headerMenu > ul >li:hover a{
    color:darkorange;
}
body #top-bar-right{
    align-self: flex-start;
    order:9; /*Vive Flex*/
}

body #v_card_photo img{
	height: 80px;
	width: 80px;
	background-color: #000;
	border-radius: 50%;
}
body #v_card_photo{
    display: flex;
    flex-direction: column;
    width:10vw;
}
body #logout{
    display: none;
}
body #dropdown_info{
    width:180px;
    color:white;
    background-color:  rgba(233, 126, 20, 0.95);
    display: none;
    padding:20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left:-55%;
    margin-top:5%;
}
 body #v_card_text{
    display: none;
} 

#grades thead tr th{
    /* position: fixed; */
}
body #v_card{
    display: flex;
    flex-direction: column;
}

body .validation_button{
    padding:15px 35px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(233, 126, 20, 0.95);
    text-decoration: none;
    color:white;
}
body .validation_button:hover{
    background-color: rgba(233, 126, 20, 0.25);
    color:orange;
}

body #v_card{
width:100px;
font-weight: normal;
}

body #ecole ul li:last-child{
    display: none;
}

#UserInfo a{
    text-decoration: none;
}

/* Page login */
.content_form h2{
    margin-top:4vh;
    margin-bottom:2vw;
    font-size: 40px;
}
.content_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.content_form form input{
    height: 40px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:35vw;
    background-color: white !important;
    border: 1px solid #8f8e8e;
    
}
.content_form span{
    font-weight: bold;
    font-size: 30px;
}
.content_form #oublie{
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 72%;
    margin-top: 2%;
}
.content_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content_form .connect_button{
    background-color:#F3A450;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:35vw !important;
    height:60px !important;
    padding: 5px;
    color:black;
    font-weight: bold;
    font-size: 140%;
    margin-top:10vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: grey;
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.content_form form{
    align-self:flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:7vw;
    
}
body .homepage_content{
    background: white !important;
    width: 80vw !important;
    height: 80vh !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
body .homepage_content{
    display:flex;
    justify-content: space-around;
}
body .homepage_content span{
    padding:20px 0px;
}
.content_logo{
width:37.5vw;
}
.content_form{
width:62.5vw;

}
/*Design homeepage*/
body .homepage{
    font-family: 'Quicksand', sans-serif;
}
body .homepage h3{
    text-transform: uppercase;
    margin:35px 0px;
}
body .homepage #board tr,
body .homepage #board td,
body .homepage #board tbody,
body .homepage #board th,
body .homepage #board table{
    border-color: lightgray;
}
.homepage #board div:nth-child(3),
.homepage #board div:nth-child(2),
.homepage #board div h3:first-child,
.homepage #board div h3:nth-child(8){
  display: none;
}
.homepage #breadcrumbs-one{
    display: none;
}
.homepage #board div{
    color:orange;
}
.homepage #board th{
    background-color: orange;
    border:0px;
    padding: 20px 0px;
    
    text-transform: uppercase;
}
.homepage #board td{
    text-align: center;
    padding:20px 0;
}
.homepage #board tr{
    background-color: white;
   
}
body #content{
    border:0px;
    background:white;
}

body{
    background-color:white !important;
}
.homepage #board hr{
    display: none;
}
.footer_div{
    display: flex;
    justify-content: space-around;
}
html footer{
    background:orange;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
html footer div{
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:20px;
}
/* Responsive design */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       
        #top-bar{
            width:100vw;
        }
        body #top-wrapper{
            justify-content: space-around;
        }
        body .validation_button{
            display: none;
        }
        body #ecole ul li:last-child{
            display: block;
        }
        body #top-wrapper{
            width:100%;
        }
    }