@import url('https://fonts.googleapis.com/css?family=Quicksand');
header{
    height:110px;
    font-family: 'Quicksand', sans-serif;
   width:100%;
}
body header h2{
    color:#F3A450;
    font-weight:bold;
}
body header hr{
    display:none;
}
html{
    overflow-x:hidden;
}
body #top-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
     width:100%;
     margin:0px 0px; 
    height:100%;
    font-weight: bold;
}
body #top-bar{
    height:120px;
    padding-top:0px;
}
body #top-bar-center{
    margin-right:10vw;
    padding-left:3vw;
}
body #top-bar > *{
    flex:1;
}
body #sidebar{
    display:none;
}

body #content_box{
    width:100%;
}
.headerMenu > ul{
    margin:0;
    padding:0;
    width:150%;
}
#content_box .new-ergo-info{
    display:none;
}
#top-wrapper li{
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}
#dropDownInfoSelect{
    cursor: pointer;
}
.headerMenu > ul{
    display: none;
}
body #top-bar-left{
    display:none;
}
body #top-bar-center{
    margin-left:0;
}
/* #top-wrapper div{
    width:14.2vw;
} */
#top-wrapper .headerMenu {
    text-align: left;
    float:left;
    padding-left:30px;
    position: relative;
    text-transform: uppercase;
      width:220px;  
      /* width:20vw; */
}

.headerMenu > ul::after{
    content: "";
    display: block;
    clear: both;
}

#top-wrapper li:hover ul{
    display: inline-block;
    position:absolute;
    top:100%;
    left:0px;
    padding:0px;
    z-index:9;
}
.headerMenu li{
    border-bottom: 1px solid #CCC;
    text-align: left;
    width:100%;
    height:35px;
    vertical-align: middle;
    padding-top:15px;
}

.headerMenu li a{
    padding:15px 30px;
    font-size:13px;
    color:#222538;
    width:100%;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
}

.headerMenu:hover{
    border-top:5px solid darkorange;
    background-color:  rgba(233, 126, 20, 0.95);
     padding:49px 0px 49px 0px; 
     color:white;
     vertical-align: middle;
     align-self: center;
   -webkit-animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.headerMenu > ul{
    background-color:  rgba(233, 126, 20, 0.95);
}
.headerMenu > ul > li > a{
    color: white;
}

.headerMenu > ul >li:hover{
    background-color:  rgba(255, 255, 255, 0.87);
    -webkit-animation: swing-in-top-fwd 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
   
    /* background-color: white; */
    
}
.headerMenu > ul >li:hover a{
    color:darkorange;
}
body #top-bar-right{
    align-self: flex-start;
    order:9; /*Vive Flex*/
}

body #v_card_photo img{
	height: 80px;
	width: 80px;
	background-color: #000;
	border-radius: 50%;
}
body #v_card_photo{
    display: flex;
    flex-direction: column;
    width:10vw;
}
body #logout{
    display: none;
}
body #dropdown_info{
    width:180px;
    color:white;
    background-color:  rgba(233, 126, 20, 0.95);
    display: none;
    padding:20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left:-55%;
    margin-top:5%;
}
 body #v_card_text{
    display: none;
} 

#grades thead tr th{
    /* position: fixed; */
}
body #v_card{
    display: flex;
    flex-direction: column;
}

body .validation_button{
    padding:15px 35px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(233, 126, 20, 0.95);
    text-decoration: none;
    color:white;
}
body .validation_button:hover{
    background-color: rgba(233, 126, 20, 0.25);
    color:orange;
}

body #v_card{
width:100px;
font-weight: normal;
}

body #ecole ul li:last-child{
    display: none;
}

#UserInfo a{
    text-decoration: none;
}

/* Page login */
.content_form h2{
    margin-top:4vh;
    margin-bottom:2vw;
    font-size: 40px;
}
.content_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.content_form form input{
    height: 40px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:35vw;
    background-color: white !important;
    border: 1px solid #8f8e8e;
    
}
.content_form span{
    font-weight: bold;
    font-size: 30px;
}
.content_form #oublie{
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 72%;
    margin-top: 2%;
}
.content_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content_form .connect_button{
    background-color:#F3A450;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:35vw !important;
    height:60px !important;
    padding: 5px;
    color:black;
    font-weight: bold;
    font-size: 140%;
    margin-top:10vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: grey;
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.content_form form{
    align-self:flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:7vw;
    
}
body .homepage_content{
    background: white !important;
    width: 80vw !important;
    height: 80vh !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
body .homepage_content{
    display:flex;
    justify-content: space-around;
}
body .homepage_content span{
    padding:20px 0px;
}
.content_logo{
width:37.5vw;
}
.content_form{
width:62.5vw;

}
/*Design homeepage*/
body .homepage{
    font-family: 'Quicksand', sans-serif;
}
body .homepage h3{
    text-transform: uppercase;
    margin:35px 0px;
}
body .homepage #board tr,
body .homepage #board td,
body .homepage #board tbody,
body .homepage #board th,
body .homepage #board table{
    border-color: lightgray;
}
.homepage #board div:nth-child(3),
.homepage #board div:nth-child(2),
.homepage #board div h3:first-child,
.homepage #board div h3:nth-child(8){
  display: none;
}
.homepage #breadcrumbs-one{
    display: none;
}
.homepage #board div{
    color:orange;
}
.homepage #board th{
    background-color: orange;
    border:0px;
    padding: 20px 0px;
    
    text-transform: uppercase;
}
.homepage #board td{
    text-align: center;
    padding:20px 0;
}
.homepage #board tr{
    background-color: white;
   
}
body #content{
    border:0px;
    background:white;
}

body{
    background-color:white !important;
}
.homepage #board hr{
    display: none;
}
.footer_div{
    display: flex;
    justify-content: space-around;
}
html footer{
    background:orange;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height:auto;
}
html footer div{
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom:20px;
}

.content_display .adm_table
body #content #content_display #grades{
    display:none;
}
body .projects #content_box .adm_table{
    display:block;
}

.new_ergo_content h2:not(:first-child){
    display:none;
}
.select_class,
.dfilter {
	position: relative; 
	background-color: #fff;
	border: #F3A450 1px solid;
	margin: 0 0 1.5em 0;
    overflow: hidden; 
    width: 30%; 
}
.dfilter {
    margin:auto;
}
.content_display h3{
    text-align: center;
}
.dfilter b{
    display:none;
}
.select_class select,
.dfilter select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 110%; 
	height: 7vh;
	border: 0; 
	margin: 0;
	padding: .75em;
	border-radius: 0;
	overflow: hidden;
    text-overflow: ellipsis;
    border-color: #F3A450;
    color:#F3A450;
    text-align: center;
    text-align-last: center;
}
.select_class::after { 
	/* Le pointeur du select */
	content: '';
	position: absolute;
	top: 50%; 
	margin-top: -3px;
	right: .75em;  
	display: block; 
	width: 0; height: 0;
    border-color: transparent;
	border-top-color: #F3A450; 
	border-width: 6px;
	border-style: solid;
    pointer-events: none;
    color:#F3A450;
}

.container_div_select{
    display: flex;
    justify-content: center;
}
.container_div_select h3{
    font-weight:bold;
    padding-right: 5vw;
}
.new_ergo_content #piechart{
    display:flex;
}
.new_ergo_content .apexcharts-legend{
    margin-bottom:-50px;
}
.new_ergo_content .apexcharts-legend-text{
    text-transform: capitalize;
    font-size: 15px;
}

.new_ergo_content table,
.adm_table table{
    width:100% !important;
    border-color: #000;
    border-spacing: 1px;
    border: 1px solid black;
    border-collapse: collapse;
}

.new_ergo_content table tbody tr,
.new_ergo_content table tbody th,
.adm_table table tbody tr,
.adm_table table tbody th{
   height:45px;
   background-color:transparent !important;
   border-color: #000;
   border: 1px solid black;
   border-collapse: collapse;
}
body .new_ergo_content table tbody tr:first-child,
body .adm_table table tbody tr:first-child{
    background-color:#F3A450 !important;
    height:45px;
    color:#000;
    color:white;
}
.new_ergo_content table tbody tr th:first-child,
.new_ergo_content table tbody tr td:first-child{
    width:18%;
}

#content table tbody tr td{
    text-align: center;
    border-color: #000;
    height:65px;
    color:#000;
    border: 1px solid black;
    border-collapse: collapse;
    background-position: 95% 50% !important; 
 }

 .container_div_select,
 .newTable,
 .newSchema{
     display:none;
     -webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
 }

 #displayTable,
 #displayShema{
     height:40px;
     width:10vw;
     margin-left:40%;
     background-color: #F3A450;
     color:white;
     border-radius:8px;
    margin-bottom:50px;
 }
 .bigcontainer{
     display:flex;
 }
 #piechart{
     width:60%;
     margin-right:0px !important;
     min-height: 10vh !important;
 }

 .mail_vac p{
     width:30vcw;
     text-align: center;
     color:black;
     font-size: 18pt;
 }
 .mail_vac{
     display:flex;
     flex-direction: column;
     align-items: center;
     margin-top:7vh;
 }

 .bigcontainer .apexcharts-legend{
     top:12vh !important;
 }

 body #grades{
    display:none ;
}

body .new_ergo_content .grades_adm_table thead tr:first-child
{
    background-color:#F3A450 !important;
    height:45px;
    color:#000;
    color:white;
}
body #content #content_box .newTable .grades_adm_table tbody tr:first-child{
    background-color: transparent !important;
}
body .social_network{
    display: flex;
    justify-content: space-around;
    background:orange;
}
body .social_network img{
    width:50px;
    height:50px;
}
body .assid .adm_table{
   display:none;
}
.projects tbody,
.projects tbody tr{
    width:100%;
}
/*Keyframes*/
/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
 /* * animation puff-in-center
 * ----------------------------------------
 */ 
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

 @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  
@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

/* Responsive design */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
       
        #top-bar{
            width:100vw;
        }
        body #top-wrapper{
            justify-content: space-around;
        }
        body .validation_button{
            display: none;
        }
        body #ecole ul li:last-child{
            display: block;
        }
        body #top-wrapper{
            width:100%;
        }
    }